# backend/.env.production
NODE_ENV=production
PORT=3000

# Supabase Connection Variables
DATABASE_URL="postgresql://postgres.[your-supabase-project]:[your-password]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[your-supabase-project]:[your-password]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Redis Configuration (Points to internal container name)
REDIS_URL="WHATEVER IT IS"
